.footer {
  max-width: 880px;
  border-top: 2px dashed silver;
  background: @sandy-beach;
  margin: auto;
  text-align: center;

  
  p {
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }
}