// Mixins in here

.btnFlex (@justify, @align){
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.btnStyle {
  background-color: #008080;
  color: white;
  font-size: 2.1rem;
  border-radius: 15px;
  padding: 10px 43px;
}