// Navigation Styles here

.nav-home {
  border-bottom: 2px dashed silver;

  margin: 20px 0 0;
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
  
  
  .home-links {
 
    margin-left: 20px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin: 0 10px;
      text-decoration: none;
      color: black;
    }

    .first-anchor {
      margin-left: 0;
    }
  }


}